.usercard-container {
  border: 1px dotted orange;
  padding: 10px 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.usercard-container p {
  font-size: 12px;
}

.usercard-container h3 {
  font-size: 22px;
  font-weight: 400;
  color: rgb(0, 174, 255);
}
