.App {
  padding: 25px;
}

.App > h1 {
  text-align: center;
  font-weight: 100;
}

.App > h5 {
  font-weight: 400;
  text-align: center;
}

.green {
  color: green;
}

.red {
  color: rgb(236, 76, 76);
}
