* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;

  color: var(--light-grey);

  background: rgb(2, 62, 114);
  background: -moz-linear-gradient(
    175deg,
    rgba(2, 62, 114, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -webkit-linear-gradient(
    175deg,
    rgba(2, 62, 114, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  background: linear-gradient(
    175deg,
    rgba(2, 62, 114, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#023e72",endColorstr="#000000",GradientType=1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Defina aqui as variáveis para compor a paleta de cores do projeto*/
:root {
  --primary: rgb(248, 161, 0);
  --dark-grey: #333;
  --light-grey: #a7a7a7;
  --light-blue: #5fc8ff;
}
