.userlist {
  border: 1px solid #08bddd;

  margin-top: 20px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
